.carousel-back{
    background-color:#FEEAE9;
}

.buttonnn{
    background-image: linear-gradient( 45deg, #ff5898, #ff136f);
}

.colorrr{
    background-color: #e1eafa;
}

.categories-yellow{
    background-color:  #fcf6df;
}

.categories-blue{
    background-color: #e0fce0;
}

.categories{
    color: #31318a;
}

.categories-01{
    color: #161b44;
}
.categories-02{
    color: #2bdbcc;
}

.instagram{
    color: #ff136f;
}
